# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Data Files
*.csv
*.xlsx
*.json

# Miscellaneous
.DS_Store
Thumbs.db
